*{
    margin:0;
    padding: 0;
    
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #eceef1;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin:0.5%;
    margin-right: 2%;
    margin-bottom: 5%;
}
.forgot-text{
font-size: 12.5px;
height: 30px;
margin-right: 10px;
color:rgb(77, 75, 75)
}

a{
    text-decoration: none;
    color:#0f91c9;
}

    


.signin-button{
    height: 32px;
    width: 100px;
    background-color:#3794d1; 
    border: black solid 1px;
    border-radius: 5px;  
    color:white;
    cursor: pointer;
}

.white-box{
    background-color: white;
    padding: 3vh;
    height: 80vh;
}


.all-box{
    border: 2px solid rgb(199, 199, 199);
    margin-left: 25%;
    margin-right: 25%;
     text-align: center;
    display: flex;
    height: 100vh; 
    width: 55vh;
    flex-direction: column;
    
    
}

fieldset{
    display: grid;
    justify-content: left;
    text-align: left;
    border: none;
}


.form-input{
    height: 200%;
    
    
}


h1{
    font-weight: 400;
    font-size: 24px;
}

h2{
    font-weight: 200;
    font-size: 16px;
}

.learn-more{
    font-size:14px;
}

.inputs{
    display: grid;
    margin-left: 23px;
    margin-bottom: 20px;   
}
.call{
    margin-top: 25px;
    font-size: 11px;
}

.create-account{
    color: white;
    background-color:rgb(0, 119, 197);
}

.box-footer{
    margin-top: 25%;
}


ul{
    list-style:none;
    display: flex;
    justify-content: center;
}
li{
    margin: 6px;
}
.recaptcha{
    text-align: center;
}

footer{
    text-align: center;
    
}
a.footer-links{
   word-spacing: 23px;

}
.copy-rights{
    margin-left: 23%;
    margin-right: 23%;
    font-size: 12px;
}
.privacy{
font-size: 14px ;
position: fixed;
bottom: 0px;
right: 5%;
background-color: #6b6c72;
color:white;
height: 40px;
width: 120px;
border-radius: 5px;
border: none;
}